<div class="container-fluid">
    <div class="card card border-dark mb-3">
        <div class="card-header">
            <h3>Detalhes do colaborador {{employe.employe_name}}</h3>
        </div>
        <div class="card-body">
            <p><span class="font-weight-bold">ID: </span>{{employe.employe_id}}</p>
            <p><span class="font-weight-bold">NOME: </span>{{employe.employe_name}}</p>
            <p><span class="font-weight-bold">ATIVIDADE VILCULADA: </span></p>
            <p><span class="font-weight-bold">CLIENTE VINCULADO: </span></p>
            <div class="btn-group btn-group-sm" role="group">
                <a [routerLink]="['destroy']" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i>REMOVER
                </a>
                <a [routerLink]="['edit']" class="btn btn-primary">
                    <i class="fas fa-edit"></i>EDITAR
                </a>
                <a routerLink="/employes" class="btn btn-success">
                    <i class="fas fa-edit"></i>VOLTAR
                </a>
            </div>
        </div>
    </div>
</div>
