<div class="container-fluid">
    <div class="card card border-dark mb-3">
        <div class="card-header">
            <h3>Clientes</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="customer_name">Nome</label>
                <input type="text" class="form-control" id="customer_name" placeholder="Empresa XPTO" required [(ngModel)]="customers.customer_name">
            </div>
            <div class="form-group">
                <label for="customer_address">Endereço</label>
                <input type="text" class="form-control" id="customer_address" placeholder="Av. Cerro Azul, 864A - 02 - Zona 02, Maringá – PR" required [(ngModel)]="customers.customer_address">
            </div>
            <button type="submit" class="btn btn-primary" (click)="persist()">CADASTRAR</button>
        </div>
    </div>
</div>
