<inga-top-nav-bar></inga-top-nav-bar>
<router-outlet></router-outlet>

<div class="container">
    <input type="checkbox" checked id="1">
    <label for="1">Banco de dados com relacionamentos</label>

    <br />
    <input type="checkbox" checked id="2">
    <label for="2">CRD Atividades</label>

    <br />
    <input type="checkbox" checked id="3">
    <label for="3">CRD Pessoas</label>

    <br />
    <input type="checkbox" checked id="4">
    <label for="4">CRD Clientes</label>

    <br />
    <input type="checkbox" checked id="5">
    <label for="5">API RESTFULL COM Autenticação JWT</label>

    <br /><br />
    <span><b>LEGENDA:</b></span>
    CRD == CREATE | READ | DELETE

    <br /><br />
    <span><b>MAIOR FACILIDADE:</b></span>
    BACKEND E BANCO DE DADOS.

    <br /><br />
    <span><b>MAIOR DIFICULDADE:</b></span>
    RELACIONAMENTO ENTRE MODELS NO FRONTEND PARA A PERSISTENCIA DOS DADOS NO BACKEND, EMBORA A OS COMPONENTES E AS SERVICES
    ESTEJAM CONCRETAS INTEGRAR UMA COM OUTRA ME CONSUMIU BASTANTE TEMPO.
    ACREDITO QUE DEVIDO AO TEMPO CURTO E AUSÊNCIA DE PRÁTICA EM CONCEITOS AVANÇADOS DO ANGULAR EU NÃO PUDE EXIBIR OS DADOS DA FUNCIONALIDADE COMO FOI PEDIDO.


    <br /><br />
    <span><b>OBS:</b></span>
    COMETI UM ERRO AO INTERROMPER UM FLUXO DE TRABALHO DO DESENVOLVIMENTO DO CRUD PARA DESENVOLVER A AUTENTICAÇÃO NO FRONTEND,
    POSTERIORMENTE NOTEI QUE HAVIA ESQUECIDO OS UPDATES E NÃO DAVA MAIS TEMPO DE CONCLUIR.
</div>
