<div class="container-fluid">
    <a class="btn btn-block btn-primary" routerLink="create">CADASTRAR ATIVIDADE</a>
    <div class="card card border-dark mb-3">
        <div class="card-header">
            <h3>Atividades</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-sm thead-dark table-hover">
                <thead>
                <tr>
                    <th class="text-center text-uppercase font-weight-bolder">#</th>
                    <th class="text-center text-uppercase font-weight-bolder">NOME</th>
                    <th class="text-center text-uppercase font-weight-bolder">DESCRIÇÃO</th>
                    <th class="text-center text-uppercase font-weight-bolder">AÇÕES</th>
                </thead>
                <tbody>
                <tr *ngFor="let service of services">
                    <td class="text-center font-weight-bold">{{service.service_id}}</td>
                    <td>{{service.service_name}}</td>
                    <td>{{service.service_description}}</td>
                    <td class="text-center">
                        <div class="btn-group btn-group-sm" role="group">
                            <a [routerLink]="[service.service_id, 'destroy']" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i>REMOVER
                            </a>
                            <a [routerLink]="[service.service_id, 'edit']" class="btn btn-primary">
                                <i class="fas fa-edit"></i>EDITAR
                            </a>
                            <a [routerLink]="[service.service_id]" class="btn btn-warning">
                                <i class="fas fa-check-double"></i>DETALHES
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
