<div class="container-fluid">
    <div class="card card border-dark mb-3">
        <div class="card-header">
            Pessoas
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="employe_name">Nome da atividade</label>
                <input type="text" class="form-control" id="employe_name" placeholder="Nome" required [(ngModel)]="employes.employe_name">
            </div>
            <div class="form-group">
                <label for="employe_birth">Descrição da atividade</label>
                <input type="date" class="form-control" id="employe_birth" placeholder="Data de nascimento" required [(ngModel)]="employes.employe_birth">
            </div>

            <button type="submit" class="btn btn-primary" (click)="persist()">CADASTRAR</button>
        </div>
    </div>
</div>
