<div class="container-fluid">
    <div class="card card border-dark mb-3">
        <div class="card-header text-center">
            <h3>Login</h3>
        </div>
        <div class="card-body">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" placeholder="inga-digital@inga.com.br" [(ngModel)]="user.email">

            <label for="password">Senha</label>
            <input type="password" id="password" class="form-control" placeholder="digite sua senha" minlength="8" [(ngModel)]="user.password">
        </div>
        <button type="button" class="btn btn-success" (click)="login()">LOGIN</button>
    </div>
</div>
