<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-group">
                <label for="service_name">Nome da atividade</label>
                <input type="text" class="form-control" id="service_name" placeholder="Nome" [(ngModel)]="services.service_name">
            </div>
            <div class="form-group">
                <label for="service_description">Descrição da atividade</label>
                <textarea class="form-control" id="service_description" rows="3" [(ngModel)]="services.service_description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" (click)="persist()">CADASTRAR</button>
        </div>
    </div>
</div>
