<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">HelenaClean Ltda.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/services">Atividades <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/customers">Clientes <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/employes">Pessoa <span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
    <button (click)="logout()" class="btn btn-warning">DESLOGAR</button>
</nav>
