<div class="container-fluid">
    <div class="card card border-dark mb-3">
        <div class="card-header">
            <h3>Remover Cliente</h3>
        </div>
        <div class="card-body">
            <p><span class="font-weight-bold">ID: </span>{{customers.customer_id}}</p>
            <p><span class="font-weight-bold">NOME: </span>{{customers.customer_name}}</p>
            <button class="btn btn-danger" (click)="destroy()">SIM, REMOVER !</button>
            <button class="btn btn-primary" routerLink="/customers">NÃO, CANCELAR !</button>
        </div>
    </div>
</div>
